body {
    font-family: "Source Sans Pro", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0 !important;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

iframe {
    margin: 0;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #999999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999999;
}

::placeholder {
    color: #999999;
}
